<h2>
  List of products from fire base:
</h2>
<br>
<button class="btn btn-info" [routerLink] = "['/']">SQL DB</button>
<br>
<br>
<ul  class = "list-group">
   <li class = "list-group-item" *ngFor = "let user of users">
      {{ "user id, name, price :"+ user.id +" "+ user.name+"  "  +user.price}}
    </li>
</ul>