<h2>Add Product: </h2>
<form [formGroup] = "addform" (ngSubmit) = "sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name="name" id="name" class="form-control" formControlName = "name" required>
    <div *ngIf="!addform.controls.name.valid" class="myclass alert alert-danger">
      Search by name 
    </div> 
  </div>
  <div>
    <label for="phone"></label>
    <input  type="text" name="phone" id="phone" class="form-control" formControlName = "phone" required>
    <div *ngIf="!addform.controls.phone.valid" class="myclass alert alert-danger">
      Search by price 
    </div> 
  </div>
  <br>
  <input type="submit" value="Search product by name" class="btn btn-primary" [disabled]="!addform.valid" >
</form>