<nav class="nav-bar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active current" [routerLinkActiveOptions]={exact:true}><a routerLink="">PRODUCTS</a></li>
        <li routerLinkActive="active current"><a routerLink="/products">LOGIN</a></li>
      </ul>
    </div>
  </div>
</nav>
